[Unit]
Description=Cloud Os personal cloud server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cloud-os start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
